/* GLOBAL VARIABLES */
:root {
  /* COLOR SCHEME */
  --clr-on-bg: #edece6;
  --clr-on-surface: #edece6;
  --clr-on-danger: #111525;
  --clr-on-success: #111525;
  --clr-primary: #734cbf;
  --clr-primary-variant: #ae91f2;
  --clr-secondary: #4c86bf;
  --clr-secondary-variant: #8fc4ef;
  --clr-tertiary: linear-gradient(
    45deg,
    #fff3a3,
    #fdc774,
    #f3903f,
    #ed683c,
    #e93e3a
  );
  --clr-accent: linear-gradient(
    45deg,
    #604442,
    #ca9a50,
    #f6e27b,
    #f6f2c1,
    #f6e27b,
    #ca9a50,
    #604442
  );
  --clr-bg: #00002e;
  --clr-surface: #24166d;
  --clr-danger: #d32020;
  --clr-success: #9fd37d;
  --clr-black: #010101;
  --clr-white: #fefefe;
  /* FONT FAMILIES */
  --ff-head: sans-serif;
  --ff-body: sans-serif;
  --ff-accent: sans-serif;
  /* FONT SIZES */
  --fs-300: clamp(0.69rem, calc(0.66rem + 0.18vw), 0.8rem);
  --fs-400: clamp(0.83rem, calc(0.78rem + 0.29vw), 1rem);
  --fs-500: clamp(1rem, calc(0.91rem + 0.43vw), 1.25rem);
  --fs-600: clamp(1.2rem, calc(1.07rem + 0.63vw), 1.56rem);
  --fs-700: clamp(1.44rem, calc(1.26rem + 0.89vw), 1.95rem);
  --fs-800: clamp(1.73rem, calc(1.48rem + 1.24vw), 2.44rem);
  --fs-900: clamp(2.07rem, calc(1.73rem + 1.7vw), 3.05rem);
  --fs-1000: clamp(2.49rem, calc(2.03rem + 2.31vw), 3.82rem);
  /* SHADOWS */
  --shd-card: 0px 0px 10px rgba(5, 2, 20, 0.3);
}

/* GLOBAL RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  color: var(--clr-on-bg);
  background-color: var(--clr-bg);
}

/* MEDIA RESET */
img,
svg,
video {
  max-width: 100%;
  display: block;
}

/* GLOBAL NAV STYLES */
.nav {
  background-color: var(--clr-bg);
  position: fixed;
  width: 100%;
  z-index: 99;
}

/* GRADIENT NAV BORDER */
.nav-border {
  height: 2px;
  background: var(--clr-accent);
}

/* MOBILE NAV STYLES */
.mobile-nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 2em;
}

/* MOBILE NAV ICON STYLES */
.nav-icon {
  width: 2rem;
  height: auto;
  cursor: pointer;
}

/* HERO BG STYLES */
#hero {
  background-image: url("../assets/abella-hero.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

/* HERO LOGO SIZE */
.hero-logo-container {
  width: min(100% - 2em, 25rem);
  margin: 0 auto;
  padding-top: 6em;
}

/* HERO BUTTON POSITION */
.hero-btn-container {
  text-align: center;
  margin-top: 16rem;
}

/* BUTTON GOLD GRADIENT BORDER */
.btn-primary {
  --border-width: 2.5px;
  --border-radius: 5px;

  padding: 0.75rem 4rem;
  background: var(--clr-accent);
  color: var(--clr-on-surface);
  font-size: var(--fs-400);
  border: 0;
  position: relative;
  border-radius: var(--border-radius);
  z-index: 1;
}

/* BUTTON SURFACE PSEUDO TO ACCOMODATE GRADIENT BORDER */
.btn-primary::before {
  content: "";
  display: block;
  width: calc(100% - calc(var(--border-width) * 2));
  height: calc(100% - calc(var(--border-width) * 2));
  background: var(--clr-surface);
  position: absolute;
  top: var(--border-width);
  left: var(--border-width);
  border-radius: calc(var(--border-radius) - var(--border-width));
  z-index: -1;
}

/* ABOUT SECTION STYLES */
#about {
  padding: 4em 0;
}

/* HIGHLIGHT CARD STYLES */
.highlight-card {
  background-color: var(--clr-surface);
  border-radius: 10px;
  padding: 2em;
  display: flex;
  flex-direction: column;
  margin: 2em;
  box-shadow: var(--shd-card);
}
