/* FONT IMPORTS */
@font-face {
  font-family: "MADE Sunflower";
  src: url("../assets/fonts/MADE\ Sunflower\ PERSONAL\ USE.otf");
}
@font-face {
  font-family: "Geologica";
  src: url("../assets//fonts/GeologicaCRSVSHRPslntwght-BF648bc329c46b0.ttf");
}
@font-face {
  font-family: "Anke";
  src: url("../assets/fonts/Anke.ttf");
}

/* GLOBAL VARIABLES */
:root {
  /* COLOR SCHEME */
  --clr-on-bg: #edece6;
  --clr-on-surface: #edece6;
  --clr-on-danger: #111525;
  --clr-on-success: #111525;
  --clr-primary: #734cbf;
  --clr-primary-variant: #ae91f2;
  --clr-secondary: #4c86bf;
  --clr-secondary-variant: #8fc4ef;
  --clr-tertiary: linear-gradient(
    45deg,
    #fff3a3,
    #fdc774,
    #f3903f,
    #ed683c,
    #e93e3a
  );
  --clr-accent: linear-gradient(
    45deg,
    #604442,
    #ca9a50,
    #f6e27b,
    #f6f2c1,
    #f6e27b,
    #ca9a50,
    #604442
  );
  --clr-bg: #00002e;
  --clr-surface: #120f59;
  --clr-danger: #d32020;
  --clr-success: #9fd37d;
  --clr-black: #010101;
  --clr-white: #fefefe;
  /* FONT FAMILIES */
  --ff-head: sans-serif;
  --ff-body: sans-serif;
  --ff-accent: sans-serif;
  /* FONT SIZES */
  --fs-300: clamp(0.69rem, calc(0.66rem + 0.18vw), 0.8rem);
  --fs-400: clamp(0.83rem, calc(0.78rem + 0.29vw), 1rem);
  --fs-500: clamp(1rem, calc(0.91rem + 0.43vw), 1.25rem);
  --fs-600: clamp(1.2rem, calc(1.07rem + 0.63vw), 1.56rem);
  --fs-700: clamp(1.44rem, calc(1.26rem + 0.89vw), 1.95rem);
  --fs-800: clamp(1.73rem, calc(1.48rem + 1.24vw), 2.44rem);
  --fs-900: clamp(2.07rem, calc(1.73rem + 1.7vw), 3.05rem);
  --fs-1000: clamp(2.49rem, calc(2.03rem + 2.31vw), 3.82rem);
  /* SHADOWS */
  --shd-card: 0px 0px 10px rgba(5, 2, 20, 0.3);
  --shd-btn: 5px 5px 5px rgba(5, 2, 20, 0.4);
}

/* GLOBAL RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  color: var(--clr-on-bg);
  background-color: var(--clr-bg);
}

/* MEDIA RESET */
img,
svg,
video {
  max-width: 100%;
  display: block;
}

h1,
h2 {
  padding-bottom: 1em;
  text-align: center;
  background: var(--clr-accent);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Anke", serif;
}

h3,
h4 {
  padding: 0.25em 0;
  font-family: "Geologica", sans-serif;
  font-weight: 400;
}

p,
span,
li,
label,
a {
  font-family: "Geologica", sans-serif;
  font-weight: 200;
}

p {
  font-size: var(--fs-500);
}

.hidden {
  display: none;
}

.active {
  color: var(--clr-primary-variant);
}

a {
  text-decoration: none;
  color: var(--clr-on-surface);
  font-style: normal;
}

a:hover {
  color: var(--clr-primary-variant);
}
li {
  list-style: none;
  font-size: var(--fs-600);
  padding: 0.3em 0;
  padding-left: 1em;
}

li span {
  font-size: var(--fs-500);
}

h1 {
  font-size: var(--fs-800);
  padding: 0 0.5em;
  margin-bottom: 3em;
  margin-top: 1em;
}

h2 {
  font-size: var(--fs-800);
}

h3 {
  font-size: var(--fs-800);
  padding-bottom: 1em;
}

h4 {
  font-size: var(--fs-600);
}

h5 {
  font-size: var(--fs-500);
  font-family: "Geologica", sans-serif;
}

select {
  appearance: auto;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 5px;
}

.italic {
  font-style: italic;
}

.error {
  color: var(--clr-danger);
}

/* GLOBAL NAV STYLES */
.nav {
  background-color: var(--clr-bg);
  position: fixed;
  width: 100%;
  z-index: 98;
}

/* GRADIENT NAV BORDER */
.nav-border {
  height: 2px;
  background: var(--clr-accent);
}

/* MOBILE NAV STYLES */
.mobile-nav-container,
.desktop-nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 2em;
}

.logo-icon-container {
  display: flex;
  gap: 20px;
  align-items: center;
  cursor: pointer;
}

/* MOBILE NAV ICON STYLES */
.nav-icon {
  width: 2rem;
  height: auto;
  cursor: pointer;
}

.mobile-menu {
  position: relative;
}

.mobile-dropdown {
  background: linear-gradient(45deg, #00002e, #24166d);
  border-radius: 10px;
  min-width: 175px;
  position: absolute;
  z-index: 99;
  top: 30px;
  right: 0px;
}

.navlink-list {
  width: min(100% - 0.5em, 20ch);
  padding: 0.5em;
}

.vertical-line {
  height: 30px;
  width: 2px;
  background-color: var(--clr-on-bg);
}

.desktop-navlink-list {
  display: flex;
  gap: 30px;
}

/* HERO BG STYLES */
#hero {
  background-image: url("../assets/abella-hero.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  /* min-height: 100vh; */
}

/* HERO LOGO SIZE */
.hero-logo-container {
  width: min(100% - 2em, 25rem);
  margin: 0 auto;
  padding-top: 6em;
}

/* HERO BUTTON POSITION */
.hero-btn-container {
  text-align: center;
  margin-top: 8rem;
}

/* BUTTON GOLD GRADIENT BORDER */
.btn-primary {
  --border-width: 2.5px;
  --border-radius: 5px;

  padding: 1rem 4rem;
  background: var(--clr-accent);
  color: var(--clr-on-surface);
  font-size: var(--fs-600);
  border: 0;
  position: relative;
  border-radius: var(--border-radius);
  z-index: 1;
  cursor: pointer;
}

/* BUTTON SURFACE PSEUDO TO ACCOMODATE GRADIENT BORDER */
.btn-primary::before {
  content: "";
  display: block;
  width: calc(100% - calc(var(--border-width) * 2));
  height: calc(100% - calc(var(--border-width) * 2));
  background: var(--clr-surface);
  position: absolute;
  top: var(--border-width);
  left: var(--border-width);
  border-radius: calc(var(--border-radius) - var(--border-width));
  z-index: -1;
  cursor: pointer;
}

.border-gap {
  margin-top: 6em;
}

/* ABOUT SECTION STYLES */
#about {
  padding: 4em 0;
}

/* HIGHLIGHT CARD STYLES */
.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  background-color: var(--clr-surface);
  border-radius: 10px;
  margin: 2em;
  width: min(100%, 30em);
  overflow: hidden;
  box-shadow: var(--shd-card);
}

.team-card-container,
.highlight-card-container,
.action-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.team-card,
.highlight-card,
.action-card {
  background-color: var(--clr-surface);
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  align-items: center;
  margin: 2em;
  width: min(100% - 2em, 50em);
  box-shadow: var(--shd-card);
}

.team-card-content,
.highlight-card-content,
.action-card-content {
  padding: 2em;
}

/* CARD CONTENT PADDING */
.card-content {
  padding: 2em;
}

/* HIGHLIGHT IMAGE STYLES */
.highlight-image {
  max-width: 100%;
  height: auto;
  border-radius: 10px 10px 0 0;
}

.program-list-item {
  display: flex;
  flex-direction: column;
}

/* ACTION CARD BUTTON STYLES */
.action-btn-container {
  text-align: center;
  margin: 4em 0;
  margin-bottom: 2em;
}

/* SECONDARY BUTTON STYLES */
.btn-secondary {
  padding: 0.75em 4em;
  border: none;
  border-radius: 5px;
  background: var(--clr-secondary-variant);
  color: var(--clr-bg);
  box-shadow: var(--shd-btn);
  cursor: pointer;
  font-size: var(--fs-500);
}

/* STAFF HEADSHOT STYLES */
.team-member-image {
  border-radius: 9999px;
  width: 18em;
  height: auto;
  margin: 0 auto;
  padding: 2em;
}

.team-member-title {
  padding-bottom: 2em;
}

.team-member-title h3 {
  padding: 0;
}

#sign-up {
  padding: 4em 0;
}

.registration-form {
  margin-top: 2em;
}

/* FORM STYLES */
.input-field {
  padding: 1em 3em 0 3em;
  display: flex;
  flex-direction: column;
  /* padding-bottom: 0; */
}

/* LABEL PADDING */
.registration-form label {
  padding-bottom: 0.25em;
}

/* INPUT PADDING */
.registration-form input,
.registration-form select {
  padding: 0.5em 0.25em;
}

.submit-message {
  padding: 2em;
  padding-top: 0;
}

.footer-container {
  background-color: var(--clr-surface);
  padding: 2em;
  display: flex;
  flex-direction: column;
}

.footer-container h3 {
  font-size: var(--fs-600);
}

.socials {
  margin-top: 2em;
}

.social-links {
  display: flex;
  gap: 1.5em;
  align-items: center;
  justify-content: flex-start;
}

.social-icon {
  width: 2rem;
}

@media only screen and (min-width: 664px) {
  .highlight-image {
    width: auto;
    height: 100%;
    border-radius: 10px 0 0 10px;
  }
}
